/* Color Palette
* Pale blue: hsl(225, 100%, 94%)
* Bright blue: hsl(245, 75%, 52%)
* Very pale blue: hsl(225, 100%, 98%)
* Desaturated blue: hsl(224, 23%, 55%)
* Dark blue: hsl(223, 47%, 23%)
*/

/* Font
* Family: Red Hat Display
* Weights: 500, 700, 900
*/

html {
  font-size: 62.5%;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.7;
  color: hsl(224, 23%, 55%);
}
